<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | LifeLink</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    {% block sub_head %}
    {% endblock %}
    <style>
      .navbar {
      background: #fff;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
    
.navbar-brand {
      font-weight: 700;
      color: #d90429 !important;
}
    
.nav-link {
      font-weight: 500;
}

.nav-link.active {
      background: #d90429;
      color: #fff !important;
      border-radius: 20px;
      padding: 5px 15px;
}

.navbar-nav .nav-link.active {
  font-weight: 600;       
  padding-top: 0.5rem;    
  padding-bottom: 0.5rem; 
}
      .message-container {
      position: fixed;
      top: 70px;          
      left: 50%;
      transform: translateX(-50%);
      z-index: 1055;      
      width: auto;
      max-width: 90%;
}
    </style>
</head>
<body>
   {% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm auto-dismiss" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/homepage/">LifeLink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/homepage/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/donate/">Donate</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="requestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Requests
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow">                    
                            <li>
                                <a class="dropdown-item" href="/emergency_request/">
                                    Emergency request
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/request/" >
                                    Request
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="guidelinesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Guidelines
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow">                    
                            <li>
                                <a class="dropdown-item" href="https://www.who.int/campaigns/world-blood-donor-day/2018/who-can-give-blood" target="_blank">
                                    WHO Blood Guidelines
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.who.int/health-topics/transplantation#tab=tab_1" target="_blank">
                                    WHO Organ Guidelines
                                </a>
                            </li>
                        </ul>
                    </li>
                    <a class="nav-link dropdown-toggle" href="#" id="userdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                          {% if user.userprofile %}
                            {{ user.userprofile.full_name }}
                          {% elif user.hospitalprofile %}
                             {{ user.hospitalprofile.hospital_name }}
                          {% else %}
                              {{ user.username }}
                        {% endif %}
                        {% else %}
                          User
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow">                    
                            <li>
                                    {% if user.is_authenticated %}
                                      {% if user.userprofile %}
                                      <a class="dropdown-item" href="/user_dashboard/" target="_self">
                                          {{ user.userprofile.full_name }}
                                      </a>
                                      {% elif user.hospitalprofile %}
                                      <a class="dropdown-item" href="/homepage/" target="_self">
                                          {{ user.hospitalprofile.full_name }}
                                      </a>
                                      {% else %}
                                      <a class="dropdown-item" href="/homepage/" target="_self">
                                        {{ user.username }}
                                      </a>
                                    {% endif %}
                                    {% else %}
                                    <a class="dropdown-item" href="/login_user/" target="_self">
                                      Login/SignUp
                                    </a>
                                    {% endif %}
                            </li>
                            <li>
                                
                                    {% if user.is_authenticated %}
                                      {% if user.userprofile %}
                                      <a class="dropdown-item" href="/user_dashboard/" target="_self">
                                          Dashboard
                                      </a>
                                      {% elif user.hospitalprofile %}
                                      <a class="dropdown-item" href="/hospital_dashboard/" target="_self">
                                          Dashboard
                                      </a>
                                      {% else %}
                                    {% endif %}
                                    {% else %}
                                    {% endif %}
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout/" target="_self">
                                    Logout
                                </a>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
    </nav>
   


    {% block hero %}
    {% endblock %}

    {% block body %}
    {% endblock %}
    <script>
  setTimeout(() => {
    document.querySelectorAll(".auto-dismiss").forEach(alert => {
      alert.classList.remove("show");
      alert.classList.add("fade");
      setTimeout(() => alert.remove(), 500);
    });
  }, 2000);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>