{% extends 'base.html' %}
{% load static %}

{% block title %}Request{% endblock %}

{% block sub_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<link href="{% static 'request.css' %}" rel="stylesheet">
{% endblock %}

{% block hero %}
<section class="hero">
  <h1>Requests</h1>
  <p class="mb-0">Find donors when it matters the most</p>
</section>
{% endblock %}

{% block body %}
<div class="container col-lg-7 col-md-9 mt-n5">
  <div class="card-glass p-4">

    <!-- STEP INDICATOR -->
    <div class="step-indicator d-flex justify-content-center gap-3 mb-4">
      <span id="s1" class="active">1</span>
      <span id="s2">2</span>
      <span id="s3">3</span>
      <span id="s4">4</span>
    </div>

    <form method="post" action="/request/" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- STEP 1 -->
      <div id="step1">
        <h4 class="fw-bold text-center mb-3">Request Type</h4>
        <input type="hidden" name="request_type" id="requestType" value="blood">
        <div class="d-grid d-md-flex gap-3 justify-content-center">
          <button type="button"
                  class="btn btn-outline-danger request-btn tab-btn active"
                  onclick="selectType('blood', this)">
            Blood
          </button>

          <button type="button"
                  class="btn btn-outline-danger request-btn tab-btn"
                  onclick="selectType('organ', this)">
            Organ
          </button>
        </div>

        <div class="text-center mt-4">
          <button type="button"
                  class="btn btn-success request-btn px-5"
                  onclick="nextStep(2)">
            Next
          </button>
        </div>
      </div>

      <!-- STEP 2 -->
      <div id="step2" class="hidden">
        <h4 class="fw-bold mb-3">Patiet Details</h4>

        <div class="row g-3">
          <input type="text" class="form-control" name="full_name" placeholder="Full Name" required>
          <input type="text" class="form-control" name="aadhar_id" placeholder="Aadhar ID" maxlength="12" required>
          <input type="date" class="form-control" name="dob" id="dob" onchange="calculateAge()" required>

          <input type="number" class="form-control" name="age" id="age" placeholder="Age" readonly>

          <select name="gender" class="form-select" required>
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="PNS">Prefer Not Say</option>
          </select>

          <input type="text" class="form-control" name="city" placeholder="City" required>
          <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button type="button" class="btn btn-outline-secondary request-btn" onclick="nextStep(1)">Back</button>
          <button type="button" class="btn btn-success request-btn" onclick="nextStep(3)" >Next</button>
        </div>
      </div>

      <!-- STEP 3 -->
      <div id="step3" class="hidden">
        <h4 class="fw-bold mb-3">Physical Details</h4>

        <!-- BLOOD -->
        <div id="bloodSection">
          <select name="blood_group" class="form-select">
            <option value=""> Required Blood Group</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
        </div>

        <!-- ORGAN -->
        <div id="organSection" class="hidden">

          <select name="organ" class="form-select mb-3">
            <option value="">Required Organ</option>
            <option value="Kidney">Kidney</option>
            <option value="Liver">Liver</option>
            <option value="Lungs">Lungs</option>
            <option value="Heart">Heart</option>
            <option value="Pancreas">Pancreas</option>
            <option value="Intestine">Intestine</option>
            <option value="Uterus">Uterus</option>
            <option value="Eyes">Eyes</option>
            <option value="Tissues">Tissues</option>
          </select>
        </div>

        <input type="number" class="form-control mb-3 mt-2" name="weight" placeholder="Weight (in kg)" required>
        <input type="text" class="form-control mb-3" name="medical_condition" placeholder="Any Prior Medical or Physical Condition (if any)">

        <label class="form-label">Upload Doctor Report</label>
        <input type="file" class="form-control mb-3" name="doc_report" required>

        <div class="d-flex justify-content-between mt-4">
          <button type="button" class="btn btn-outline-secondary request-btn"
                  onclick="nextStep(2)">Back</button>

          <button type="button" class="btn btn-success request-btn"
                  onclick="nextStep(4)">Next</button>
        </div>
      </div>

      <!-- STEP 4 -->
      <div id="step4" class="hidden text-center">
        <i class="bi bi-exclamation-triangle-fill text-danger fs-1"></i>
        <h4 class="fw-bold mt-2">Confirm Emergency Request</h4>
        <p>Nearby donors will be notified immediately.</p>
        <div class="form-check d-flex align-items-center justify-content-center mt-3">
  <input class="form-check-input me-2 consent-check"
         type="checkbox"
         id="consent"
         name="consent"
         required>
  <label class="form-check-label" for="consent">
    I confirm that I am authorized to raise this request and the
    information provided is accurate and legal.
  </label>
</div>

<!-- Buttons -->
<div class="d-flex justify-content-between align-items-center mt-4">
  <button type="button"
          class="btn btn-outline-secondary request-btn"
          onclick="nextStep(3)">
    Back
  </button>

  <button type="submit"
          class="btn btn-success request-btn px-5">
    Submit
  </button>
</div>
        
      </div>

    </form>
  </div>
</div>

<script src="{% static 'request.js' %}"></script>
{% endblock %}
