{% extends "base.html" %}
{% load static %}

{% block title %}Hospital Signup{% endblock %}

{% block sub_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'auth_common.css' %}">
{% endblock %}

{% block hero %}
<section class="auth-hero">
  <h2>Hospital Registration</h2>
  <p>Become a verified medical partner </p>
</section>
{% endblock %}

{% block body %}
<div class="role-tabs mt-5">
  <a href="/signup_user/" class="role-tab-btn active">👤 User</a>
  <a href="/signup_hospital/" class="role-tab-btn">🏥 Hospital</a>
</div>

<div class="container col-md-5 mt-5">
  <div class="auth-card">

    <form method="POST" action="/signup_hospital/" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="form-control mb-3" name="hospital_name" placeholder="Hospital Name" required>
      <input class="form-control mb-3" name="hospital_email" placeholder="Hospital Email" required>
      <input class="form-control mb-3" name="registration_id" placeholder="Registration ID" required>
      <input class="form-control mb-3" name="city" placeholder="City" required>
      <input class="form-control mb-3" name="contact_number" placeholder="Contact Number" required>

      <label class="form-label">Upload License</label>
      <input type="file" class="form-control mb-3" name="license" required>

      <input type="password" class="form-control mb-3" name="hospital_password" placeholder="Create Password" required>

      <button class="btn btn-danger w-100 action-btn">
        Register Hospital
      </button>
    </form>

    <div class="text-center mt-3 switch-links">
      <a href="/login-hospital/">Already registered?</a><br>
    </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
